In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
#import api key
from config import g_key

In [2]:
#store the csv you saved created in part one intoa  dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2022-05-30 14:54:59,-33.8667,121.9000,58.19,72,100,13.09
1,1,Timucuy,MX,2022-05-30 14:54:59,20.8167,-89.5167,84.16,65,75,16.11
2,2,Busselton,AU,2022-05-30 14:54:59,-33.6500,115.3333,53.78,87,1,8.12
3,3,Uturoa,PF,2022-05-30 14:55:00,-16.7333,-151.4333,79.66,68,93,9.71
4,4,Puerto Ayora,EC,2022-05-30 14:55:00,-0.7393,-90.3518,73.36,85,99,10.16

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use google API key
gmaps.configure(api_key=g_key)

In [7]:
# # 1. Assign the location to an array of latitude and lognitude pairs
# loications = [latitude, longitude]
# # 2. Assign the weights variable to some values
# temperatures = # an array of length equal to the locations array length
# # 3. Assing the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to th eheatmap_layer attribute and add in the locations
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperature)

# # 5. add the heatmap layer
# fig.add_layer(heatmap_layer)
# # 6. call the figure to plot the data
# fig

In [11]:
# #get max temperature
# max_temp+city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp,0))

In [29]:
#heatmap of temperature
#get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
#get the max temp
max_temp = city_data_df["Max Temp"]
#assign the figure variable
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#assign the heatmap varibale
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=500,
                                point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plt data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations=city_data_df[["Lat", "Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#call for the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of clouidiness
locations=city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#call for the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of wind speed
locations=city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#call for the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
#ask customer to add min and max temperature values
min_temp=float(input("What is the minimum temperature you would like for your trip?"))
max_temp=float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [39]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                     (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Timucuy,MX,2022-05-30 14:54:59,20.8167,-89.5167,84.16,65,75,16.11
3,3,Uturoa,PF,2022-05-30 14:55:00,-16.7333,-151.4333,79.66,68,93,9.71
5,5,Tevaitoa,PF,2022-05-30 14:55:00,-16.7833,-151.5000,79.59,68,94,9.71
6,6,Atuona,PF,2022-05-30 14:55:01,-9.8000,-139.0333,77.79,75,89,13.56
7,7,Arraial Do Cabo,BR,2022-05-30 14:55:01,-22.9661,-42.0278,80.56,73,0,14.97

In [40]:
preferred_cities_df.count()

City_ID       207
City          207
Country       206
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [41]:
# Create a dataframe called hotel_df to store hotel names along with city, country, max temp and coordiantes
hotel_df=perferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head()

              City Country  Max Temp      Lat       Lng Hotel Name
1          Timucuy      MX     84.16  20.8167  -89.5167
3           Uturoa      PF     79.66 -16.7333 -151.4333
5         Tevaitoa      PF     79.59 -16.7833 -151.5000
6           Atuona      PF     77.79  -9.8000 -139.0333
7  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [65]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [66]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Timucuy,MX,84.16,20.8167,-89.5167,"Quinta ""Monte Margarita"""
3,Uturoa,PF,79.66,-16.7333,-151.4333,Villa Tonoï
5,Tevaitoa,PF,79.59,-16.7833,-151.5000,Hôtel Raiatea Lodge
6,Atuona,PF,77.79,-9.8000,-139.0333,Villa Enata
7,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...
559,Miramar,US,86.02,25.9873,-80.2323,Stadium Hotel
565,Puerto Narino,CO,85.96,-3.7703,-70.3831,Eware Refugio Amazonico
566,Mana,GF,80.58,5.6592,-53.7767,LE SAMANA
568,Luanda,AO,77.00,-8.8368,13.2343,EPIC SANA Luanda
570,Piacabucu,BR,79.63,-10.4056,-36.4344,Piaçabuçu News

In [69]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [74]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [75]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))